*{
    margin: 0;
    padding: 0;
}

.header{
    color: white;
    background-image: url(../../static/cloud2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 0px 0px 32px 32px;
    background: radial-gradient(circle, rgba(31,42,77,0.4) 42%, rgba(80,43,107,0.4) 66%);
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

nav div{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    gap: 10px;
    align-items: center;
}

li{
    list-style-type: none;
}